/*disabling any special indentation*/
* {
    margin: 0;
}

/*changing color of the background*/
body {
    background-color: rgb(95,95,95);
}

/*creating gradient behind logo*/
#header {
    background-image: linear-gradient(rgb(75,75,75),rgb(255,115,31));
}

/*creating black horizontal stripe, where the login info might be displayed*/
#optionbar {
    background-color: rgb(0,0,0);
    width: 100%;
    height: 35px;
}

/*changing font, size, color and placement of major headers, adding shadow -> creating "site logo"*/
h1, h2 {
    color: rgb(255,255,255);
    font-family: Broadway, fantasy;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
}

/*changing color, size and alignment of menubar*/
#menu {
    background-color: rgb(39,39,39);
    height: 50px;
    width: 80%;
    margin: auto;
    text-align: center;
}

/*changing color, size, font and placing of links in menu elements, removing link underlining*/
#menu a {;
    color: rgb(255,255,255);
    padding: 13px 20px;
    text-decoration: none;
    font-family: Calibri, monospace;
    font-size: 16pt;
}

/*changing color of menu while "selected"*/
#menu a:hover {
    background-color: rgb(255,115,31);
}

/*menu elements displayed without markers, additional spacing*/
#menu ul {
    list-style-type: none;
    padding-top: 12px;
}

/*menu elements displaied in line*/
#menu li {
    display: inline;
}

/*size, color and placement of main content*/
#announcement {
    background-color: rgb(119,119,119);
    width: 80%;
    min-height: 385px;
    margin: auto;
    padding: 30px 0;
}

/*color and placement of regular text*/
p, h3{
    color: rgb(255,255,255);
    margin: 10px 40px;
}

/*color and placement of regular text*/
#error_display{
    color: rgb(166, 2, 0);
    font-weight: bold;
}

/*placement, color, size and fonts of footer*/
#footer {
    background-color: rgb(245,245,220);
    width: 80%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 8px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: Calibri, monospace;
}

/*creating a bubble in which forms are placed*/
form, table {
    background-color: rgb(255,115,31);
    color: rgb(255,255,255);
    width: 30%;
    margin: 20px 40px;
    padding: 20px 20px 50px 0;
    border-radius: 20px;
    box-shadow: 0 0 5px #000;
}

/*making table centered*/
table {
    flow: left;
    padding-left: 20px;
}

/*making table lines visible*/
th, td {
    border: 2px solid rgb(119,119,119);
    text-align: center;

}

/*changing color of table header*/
th {
    background-color: #c93d21;
}

/*changing color of every row*/
tr {
    background-color: #c15f1d;
}

/*changing color of every row*/
tr:hover {
    background-color: #eea661;
}

/*changing color of every 2nd row*/
tr:nth-child(even) {
    background-color: #979197;
}

/*changing color of every 2nd row when hovered*/
tr:nth-child(even):hover {
    background-color: #b4aeb4;
}

/*changing size of bubble if text area is included*/
#article, table {
    width: 50%;
}

/*creating table-like structure in form*/
.alignmenthelpers {
    width: 48%;
    float: left;
    padding: 0 0 7px 20px;
}

/*changing size and positioning of inputs*/
input[type=submit], input[type=password], input[type=email], input[type=text], input[type=file] {
    width: 40%;
    margin-bottom: 5px;
}

input[type=file]{
    color: rgb(255,255,255);
    font-family: Calibri, monospace;
}

/*changing positioning of radios*/
input[type=radio] {
    margin-bottom: 15px;
}

/*disables bubble-style*/
#no_bubble {
    background-color: rgba(255, 115, 31, 0);
    color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-shadow: none;
    display: inline;
}

/*making button of normal size*/
#no_bubble input[type=submit]{
    float: left;
    width: 100px;
}

/*changing color of labels*/
label {
    color: rgb(255,255,255);
}

/*disabling optional resizing of text area*/
textarea {
    width: 45%;
    resize: none;
}

/*changing spacing between radio buttons*/
.labeledradio {
    margin-right: 20px;
}

/*creating a bubble in which links are placed*/
#bubblelinks {
    background-color: rgb(39,39,39);
    color:white;
    width: 30%;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #FFF;
    text-align: center;
}

/*changing font, size, color and placement of links, adding shadow, disabling underlining*/
#bubblelinks a, form a {
    color: rgb(255,255,255);
    padding: auto;
    text-decoration: none;
    font-family: Calibri, monospace;
    text-shadow: 0 0 5px #FFF;
}

/*changing shadow color when pointed at*/
#bubblelinks a:hover {
    text-shadow: 0 0 5px #FF731F;
}

/*changing overall graphic of submit, changing cursor when pointing on it*/
input[type=submit] {
    margin-top: 5px;
    float: right;
    background-color: rgb(39,39,39);
    color: rgb(255,255,255);
    font-family: Calibri, monospace;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
}

/*when submit "selected" changes color*/
input[type=submit]:hover{
    background-color: rgb(255,255,255);
    color: rgb(39,39,39);
}

/*fixing resizing mobiles*/
@media only screen
and (max-width: 767px){
    form, #article, #bubblelinks {
        width: 50%;
        margin: 20px auto;
    }

    form {
        padding-left: 20px;
    }

    textarea, input {
        width: 20%;
    }

    input[type=submit] {
        margin-right: 20px;
        width: 80%;
    }

    #menu ul {
        padding-top: 15px;
    }

    #menu a {
        font-size: 12pt;
    }

    #menu {
        height: 220px;
    }

    #menu li {
        margin-bottom: 30px;
        display: list-item;
    }

    #menu, #announcement, #footer {
        width: 100%;
    }
}
/*fixing resizing tablets*/
@media only screen
and (max-width: 850px){
    form {
        padding-left: 20px;
    }

    textarea, input {
        width: 80%;
    }

    #menu a {
        font-size: 12pt;
        padding: 16px 30px;
    }

    #menu ul {
        padding-top: 15px;
    }

    #menu {
        height: 220px;
    }

    #menu li {
        margin-bottom: 30px;
        display: list-item;
    }

    #menu, #announcement, #footer {
        width: 100%;
    }
}